//
// Utilities
//


// Button


button {
  padding: .25rem 1rem;
  background-color: $color-light-grey-1;
  border: 1px solid $color-greyish-blue;
  border-radius: $border-radius;

  &:hover,
  &:active {
    background-color: $color-white;
  }
}

.btn-lg {
  height: 3rem;
  padding: .5rem 2rem;
}
